/node_modules
/public/hot
/public/storage
/public/product_images
/public/img/products
/storage/*.key
/vendor
.env
.phpunit.result.cache
README.md
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/storage/*.index
docker-compose.yml
docker-conf/database
docker-conf/php/Dockerfile
